doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		
		title GALAXY-9 GAMES
		block style
	body
		nav#navbar.flex_align
			ul.nav_ul.flex
				li #[a(href="/") HOME]
				li #[a(href="/webSites") GAMES]
		block content

		block scripts
			script(src='../static/index.js')